<div class="row">
	<div class="col-md-12">
		<form action="/customerslogin/forget" method="POST">
			<legend>Forgot Password</legend>
            <div class="form-group">
				<label for="username">username</label>
			  <div class="col-sm-6">	
				<input type="text" name="username" autofocus class="form-control" required>
			  </div>
			</div>

			<div class="form-group">
				<label for="securityquestion">what is your pet name</label>
			  <div class="col-sm-6">	
				<input type="text" name="securityquestion" autofocus class="form-control" required>
			  </div>
			</div>
			<div class="form-group">
		        <label for="password">New Password</label>
			  <div class="col-sm-6">	
		        <input type="password" name="password" value="" placeholder="New password" autofocus="autofocus" class="form-control" required/>
		      </div>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Reset Password">
				<p class="lead mt-4">Back To <a href="/customerslogin/end">Login page</a></p>
			</div>
		</form>
	</div>
</div>