
@import url('https://fonts.googleapis.com/css?family=Lora');
html,body{
background-image: url(/images/login.jpg);
background-size: cover;
background-repeat: no-repeat;
height:  calc(100vh - 128px);
font-family: "Lato", sans-serif;

}

body::-webkit-scrollbar {
	width: 12px;
  }

  body::-webkit-scrollbar-track {
	border-radius: 0px;
	background-color: #cb202d;
  }

  body::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color: #282c35;
  }

.container{
height: 100%;
align-content: center;
}


.card{
height: 330px;
line-height: 48px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}



.card-header h3{
color: white;
font-size: 45px;
font-weight: 500;
}



.input-group-prepend span{
width: 50px;
background-color: #cb202d;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 0px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #cb202d;
font-size: 19px;
font-weight: 400;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}


.card-footer a {
	margin-bottom: 30px;
	font-size: 19px;
	font-weight: 400;
	color: white;
}
.cc{
	font-size: 19px;
	font-weight: 400; 
	color:#cb202d;
}
.cc a{
	color: white;
}

form { 
    font-family: "Lato", sans-serif;
    font-size: 19px;
    font-weight: 400;
    color: rgb(223, 234, 238);
    margin-top: 3%;
    text-align: left;
	line-height: 32px;
	letter-spacing: 3px;
	margin-left: 5px;

	}
p a{
	color: white;
}
p{
	color: white;
}
.btn{
	margin-left: 5px;

}

